.up {
  background-color: rgb(219, 219, 194);
  height: 350px;
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;margin-left: 0px;
}
.picture {
  height: 350px;
  background:  rgb(219, 219, 194);
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
  float: left;
}
.pic {
  background-color: orange;
  width: 400px;
  height: 275px;

}
.box{
  background:  rgb(222, 222, 222);
  width: 65%;
  margin-left: 15%;
  margin-top: 30px;
}
.box2{
  background: rgb(222, 222, 222);
  width: 90%;
  margin-left: -8%;
  margin-top: 30px;
}
.col_1 {
  align-items: center;
  width: 50%;
  justify-content: center;
  background-color: rgb(222, 222, 222);
  flex-direction: column-reverse;
}
.small {
  background-color: #966e51; 
  margin-left: 30px ; 
  margin-bottom: 10px;
  height:5px;
  border-width:0;
  margin-top: 20px;
  width: 110%;
}
section {
  background-color:  rgb(222, 222, 222);
  display: flex;
   margin-top: 0px;
}
h3 {
  color:  #3e3e3e;
  margin-bottom: 0px;
  font-size: 20px;
}
h1 {
  color:  #3e3e3e;
  font-size: 29px;
}
.p {
  color:  #3e3e3e;
  margin-top: 0px;
  font-family: Arial;
}
body {padding:0; margin:0;}