.header {
    display: flex;
    flex-flow: column;
    margin-top: 0px;
    background-color: beige;
}

body {
    margin: 0;
    padding: 0;
}

.upper-box {
    display: flex;
    background-color: rgb(245, 245, 245);

    justify-content: space-between;
    height: 75px;
}

.lower-box {
    display: flex;
    border: 4px solid rgb(186, 186, 186);
    background-color: 	#ffffff;
    border-width:1px;
}

.nav2 {
    margin-left: 25px;
    display: flex;
    font-size: 13px;
    color: rgb(135, 135, 135);
    font-family: "Gill Sans", sans-serif;
    border: 2px rgb(133, 130, 130);

}

.nav2 ul {
    cursor: pointer;
}

.Logo {
    float: left;
    margin-left: 60px;
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
    color: rgb(39, 39, 39);
}

.nav1 {
    float: right;
    display: flex;
    margin-right: 20px;
    margin-top: 13px;
    font-size: 13px;
    color: rgb(58, 57, 57);
    font-family: "Gill Sans", sans-serif;
    font: bold;
}

.nav1 ul {
    font-weight: bold;
    cursor: pointer;
}

.nav1 ul:hover {
    color: orangered;
    cursor: pointer;
}

.nav1 select {
    margin-top: -10px;
    font-size: 15px;
    font-family: "Gill Sans", sans-serif;
    padding: 15px;
    font: bold;
    color: rgb(86, 157, 214);
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid rgb(86, 157, 214);
    border-width: 1px;
}
.section-1{
 display: flex;

}

.section-11 {
width: 45%;
background-color: rgb(245, 245, 245);
    
}
.section-12{
    height: 800px;
    width: 55%;
    background-color:rgb(245, 245, 245);
   }
.section-13{
    margin-top: 20px;
    height: 700px;
 background-color: rgb(245, 245, 245);
 background-size: cover;
 background-image: url('https://dw3i9sxi97owk.cloudfront.net/homepageRevampA3/HeroImage/instance-2/hero-instance-2--desktop.webp');
}

.text-label{
    margin-top: 22.5%;
    margin-left: 90px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-flow: column;
}
.main-line{
    font-size:71px;
    background-color: rgb(245, 245, 245);
    font-family: 'Varela Round';
    font-weight: 1000;
    color: rgb(159, 1, 1);
}
.second-main-line{
    margin-top: 25px;
    font-size:22px;
    background-color: rgb(245, 245, 245);
    font-family: Noto Sans, sans-serif;
    color: black;
    width: 80%;
    font-weight: 500;
}